/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    --primary-red-clr: hsl(0, 78%, 62%);
    --primary-cyan-clr: hsl(180, 62%, 55%);
    --primary-orange-clr: hsl(34, 97%, 64%);
    --primary-blue-clr: hsl(212, 86%, 64%);

    --neutral-very-dark-blue-clr: hsl(234, 12%, 34%);
    --neutral-grayish-blue-clr: hsl(229, 6%, 66%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);

    --main-ff: 'Poppins', sans-serif;

    --body-fs: 15px;

    --extraLight-fw: 200;
    --regular-fw: 400;
    --semiBold-fw: 600;
}

/* Styles */

body {
    font-size: var(--body-fs);
    font-family: var(--main-ff);
    background-color: var(--neutral-very-light-gray);
}

.container {
    margin: 2rem;
    padding: 3rem 0;
}

.header {
    margin: 0 auto 5rem auto;
    text-align: center;
    max-width: 500px;
}

.title {
    font-weight: 200;
}

.appendix {
    color: var(--neutral-very-dark-blue-clr);
}

.title,
.appendix {
  font-size: 1.5rem;
}

.description {
    color: var(--neutral-grayish-blue-clr);
    margin: 1rem 0;
    line-height: 1.6rem;
}

.tool {
    background-color: white ;
    margin: 2rem 0;
    box-shadow: 0px 10px 40px -15px var(--neutral-grayish-blue-clr);
    border-radius: 0.5rem;
    overflow: hidden;
}

.one .topBorder {
  border: 2px solid var(--primary-cyan-clr);
}

.two .topBorder {
  border: 2px solid var(--primary-red-clr);
}

.three .topBorder {
  border: 2px solid var(--primary-orange-clr);
}

.four .topBorder {
  border: 2px solid var(--primary-blue-clr);
}

.toolBox {
  padding: 1.5rem 2rem;
  color: var(--neutral-very-dark-blue-clr);
}

.toolType {
  font-size: 1.2rem;
}

.toolDescription {
    font-size: 0.8rem;
    color: var(--neutral-grayish-blue-clr);
    margin: 0.3rem 0 1.8rem 0;
    line-height: 1.5rem;
}

.toolImg {
    margin-left: auto;
    width: 3.5rem;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
  }

  .header {
    margin-bottom: 2rem;
    color: var(--neutral-grayish-blue-clr)
  }

  .title,
  .appendix {
  font-size: 2.3rem;
  }

  .gridBlock {
    display: grid;
    grid-template-areas: 
    "one two four"
    "one three four";
    max-width: 1200px;
  }

  .one {
    grid-area: one;
    margin: auto 2rem;
  }

  .two {
    grid-area: two;
    margin-bottom: 1rem;
  }

  .three {
    grid-area: three;
    margin-top: 1rem;
  }

  .four {
    grid-area: four;
    margin: auto 2rem;
  }

  .toolBox {
    padding: 2rem;
    color: var(--neutral-very-dark-blue-clr);
  }

  .toolDescription {
    margin-bottom: 2.4rem;
  }

  .toolImg {
    width: 4rem;
  }
}